@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

:root {
  --green: #54e6af;
  --gray-dark: #2c344b;
  --gray-medium: #5a668a;
  --gray-light: #c2cbe5;
  --black: #121725;
  --white: #ffffff;
}

* {
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/mobile/image-host.jpg");
  background-size: cover;
  background-color: var(--black);
}

.wrapper {
  margin: auto 1.5rem;
}

header {
  text-align: center;
}

main {
  max-width: 665px;
}

.logo {
  margin: 3.875rem auto;
  height: 3.5rem;
}

h1 {
  text-transform: uppercase;
  font-size: 1.625rem;
  font-weight: lighter;
  line-height: 2.375rem;
  color: var(--green);
  text-align: center;
  margin: 1rem auto;
}

h1 span {
  color: var(--white);
}

main p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--gray-light);
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
ul li {
  width: 23%;
}

ul img {
  width: 100%;
}

form input {
  width: 100%;
  height: 46px;
  border-radius: 1.75rem;
  border: none;
  padding: 0.5625rem 2rem;
  background-color: var(--gray-dark);
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: var(--white);
  margin: 1rem auto;
}

form button {
  width: 100%;
  height: 46px;
  border-radius: 1.75rem;
  border: none;
  background-color: var(--green);
  font-size: 0.875rem;
  line-height: 1.75rem;
  color: var(--black);
  font-weight: bolder;
}

form button:hover {
  background-color: #b3ffe2;
  cursor: pointer;
}

@media (min-width: 576px) {
  body {
    background-image: url("./assets/tablet/image-host.jpg"),
      url("./assets/desktop/bg-pattern-dots.svg");
    background-size: auto;
    background-repeat: no-repeat;
    background-position: top right, bottom -130px left 24px;
  }
  .wrapper {
    margin: auto 2.4375rem;
  }

  header {
    text-align: start;
  }

  .logo {
    margin-top: 3.125rem;
    margin-bottom: 7.9375rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: start;
  }

  main {
    background-color: var(--black);
    padding-top: 4rem;
  }

  main p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: start;
    max-width: 445px;
  }

  ul {
    max-width: 536px;
    margin: 2rem 0;
    margin-top: 0;
  }

  .icons-form__wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  form {
    max-width: 427px;
    margin-top: 2.5rem;
  }

  form input {
    height: 56px;
    max-width: 427px;
  }

  form button {
    position: relative;
    max-width: 10.125rem;
    top: -66px;
    left: 260px;
    height: 46px;
  }
}

@media (min-width: 1200px) {
  body {
    background-image: url("./assets/desktop/bg-pattern-dots.svg"),
      url("./assets/desktop/image-host.jpg");
    background-position: bottom 30px right, top 125px right;
  }
  .wrapper {
    margin: auto 10.3125rem;
  }

  .logo {
    margin-top: 6.375rem;
  }
  h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }

  main p {
  }
}
