@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

:root {
  --green: #54e6af;
  --gray-dark: #2c344b;
  --gray-medium: #5a668a;
  --gray-light: #c2cbe5;
  --black: #121725;
  --white: #ffffff;
}

* {
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/desktop/image-host.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  text-align: center;
}

.logo {
  margin: 3.875rem auto;
  height: 3.5rem;
}

@media (min-width: 576px) {
  .wrapper {
    margin: auto 2.4375rem;
  }

  header {
    text-align: start;
  }

  .logo {
    margin-top: 3.125rem;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin: auto 10.3125rem;
  }

  .logo {
    margin-top: 6.375rem;
  }
}
