@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

:root {
  --green: #54e6af;
  --gray-dark: #2c344b;
  --gray-medium: #5a668a;
  --gray-light: #c2cbe5;
  --black: #121725;
  --white: #ffffff;
}

* {
  font-family: "Chivo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./assets/desktop/image-host.jpg");
}

.wrapper {
  margin: auto 1.5rem;
}

header {
  text-align: center;
}

.logo {
  margin: 3.875rem auto;
  height: 3.5rem;
}

h1 {
  text-transform: uppercase;
  font-size: 1.625rem;
  font-weight: 400;
  line-height: 2.375rem;
  color: var(--green);
  text-align: center;
  margin: 1rem auto;
}

h1 span {
  color: var(--white);
}

main p {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: var(--gray-light);
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}
ul li {
  width: 23%;
}

ul img {
  width: 100%;
}

@media (min-width: 576px) {
  .wrapper {
    margin: auto 2.4375rem;
  }

  header {
    text-align: start;
  }

  .logo {
    margin-top: 3.125rem;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.5rem;
    text-align: start;
  }

  main p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: start;
    max-width: 445px;
  }

  ul {
    max-width: 536px;
    margin: 2rem 0;
  }
}

@media (min-width: 1200px) {
  .wrapper {
    margin: auto 10.3125rem;
  }

  .logo {
    margin-top: 6.375rem;
  }
  h1 {
    font-size: 3.25rem;
    line-height: 3.875rem;
  }

  main p {
  }
}
